<%- include('../partials/header.ejs') %>
<div class="container-xl">
    <hr>
    <div class="card-header">
        <h2>Pedidos</h2>
        <hr>
        <a class="btn btn-primary" href='/orders/new'>Adicionar novo pedido</a>
    </div>
    <% companies.forEach(company =>{ %>
        <div class="card mt-4">
            <div class="card-header">
                <h4><%=company.name%></h4>
    
            </div>

        </div>
        <table class='table table-bordered'>
            <tr>
                <th>Empresa</th>
                <th>Data</th>
                <th>Valor</th>
                <th>Ações</th>
            </tr>
            <tbody>
                <% orders.forEach(order => { %>
                <% if(order.company.name != company.name){return} %> 
                <tr>
                    <th><%=order.company.name%></th>
                    <th><%=new Date(order.date).toLocaleDateString('pt-BR', {timeZone: 'UTC'})%></th>
                    <th><%=order.value%></th>
                    <th>
                        <form method="POST" action="/orders/edit/<%= order.id %>" style='display: inline'>
                            <input type="hidden" name="id" value=<%= order.id %>>
                            <button class="btn btn-warning">Editar</button>
                        </form>
                        <form method="POST" action="/orders/delete" style='display: inline' onsubmit="confirmDelete(event)">
                            <input type="hidden" name="id" value=<%= order.id %>>
                            <button class="btn btn-danger">Excluir</button>
                        </form>
                    </th>
                </tr>
                <% }) %>
            </tbody>
        </table>
    <% }) %>
</div>
<%- include('../partials/footer.ejs') %>
<script>
    function confirmDelete(event){
        if(!confirm('Você tem certeza que quer deletar?')){
            event.preventDefault();
        }
    }
</script>