<%- include('../partials/header.ejs') %>
<div class="container-xl">
    <hr>
    <div class="card-header">
        <h2>Quantitativo</h2>
    </div>
    <table class='table table-bordered'>
        <tr>
            <th>Empresa</th>
            <th>Mês</th>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Valor</th>
        </tr>
        <tbody>
            <% quantitatives.forEach(quantitative => { %>
            <tr>
                <th><%=company.name%></th>
                <th><%=month + '/22'%></th>
                <th><%-quantitative.product%></th>
                <th><%-quantitative.quantity%></th>
                <th><%-quantitative.value.toFixed(2)%></th>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<%- include('../partials/footer.ejs') %>
<script>
    function confirmDelete(event){
        if(!confirm('Você tem certeza que quer deletar?')){
            event.preventDefault();
        }
    }
</script>